[data-hbx="poweredby"],
[data-hbx="poweredby_cta"],
footer a[href*="hugoblox.com"],
.site-footer__poweredby,
.site-footer__poweredby * {
  display: none !important;
}


.site-footer__poweredby {
  margin: 0 !important;
  padding: 0 !important;
  height: 0 !important;
  overflow: hidden !important;
}
